@charset "utf-8";


/* 
page 구조
css 플로트 레이아웃 디자인
플로트 영향을 받는 요소에서 해제를 하지 않을 경우 발생하는 문제.
*/

/* 공통 모듈 디자인 */
[class^="page"]{
	height:25vh;
}
[class^="page"]::before{
	display:block;
	text-align:center;
	line-height:25vh;
	color:#fff;
	content:attr(class);
}
/* 개별 모듈 디자인 */
.page-header{
	background:#7045cf;
}
.page-navigation{
	background:#388dc4;
}
.page-main{
	float:left;
	width:80%;
	background:#3cc880;
}
.page-sidebar{
	float:right;
	width:20%;
	background:#78c935;
}
.page-footer{
	clear:both;
	background:#c38b36;
}